.field
  margin-bottom: 1em

  &__label
    display: block
    font-weight: bold
    margin-bottom: 0.4em

  &__error
    color: red

// individual fields
  & input[name="hgvs-substitution"]
    min-width: 220px
